.list-products {
    padding: 5rem 0;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 30rem));
    gap: 1.5rem;
}

/* SECTION METHODS */
.shipping {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
}

@media (max-width: 800px) {
    .shipping {
        display: none;
    }
}

.shipp {
    $width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    text-align: left;
    flex-basis: $width/3;

    .shipp__img {
        height: 4rem;
        width: 4rem;
        margin-right: 2rem;
    }

}

.shipp__texts {
    display: flex;
    flex-direction: column;

    & h6 {
        text-transform: uppercase;
    }

    & p {
        text-transform: uppercase;
    }
}

/* SHOW LIST PRODUCTS */
.products-square {
    height: 30rem;
    width: 30rem;
    overflow: hidden;
}

.products-square-img {
    width: 100%;
    height: 100%;
    transition: .5s ease-in-out;
    object-fit: cover;
}

.products-square-img:hover {
    transform: scale(1.08);
    background-color: black;
}